@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body.aurora-theme {
    background-color: #003f5c;
    /* Dark blue background */
    color: #000000;
    /* White text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgba(44, 44, 151, 0.912);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    max-width: 400px;
    width: 100%;

}

.supnova-branding {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: #ffffff;
    /* Custom color for branding */
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-button {
    background-color: #ff6f61;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #ff4d41;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #ff6f61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}